:root {
    --bg-color: #6c687f;
    --bg-color-dimmed: #68637a;
    --main-color: #ffffff;
    --main-color-dimmed: #ceccd9;
    --sub-color: #9994b8;
    --sub-alt-color: #77738c;
    --text-color: #ffffff;
    --error-color: #e32b2b;
}
